.header {
	height: 55px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	border-bottom: 1px solid #dedede;
	z-index: 100;
}

.left-section {
	display: flex;
	align-items: center;
}

.middle-section {
	/* background-color: lightpink; */
	flex: 1;
	margin-left: 70px;
	margin-right: 35px;
	max-width: 500px;
	display: flex;
	align-items: center;
}

.right-section {
	position: relative;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
	flex-shrink: 0;
}

.icons {
	position: relative;
}

.icons .tooltip {
	position: absolute;
	background-color: gray;
	color: #fff;
	padding: 4px 8px;
	border-radius: 2px;
	font-size: 12px;
	bottom: -45px;
	left: -15px;
	opacity: 0;
	transition: opacity 0.15s;
	pointer-events: none;
	white-space: nowrap;
}

.icons:hover .tooltip {
	opacity: 1;
}

.notif-count {
	position: absolute;
	background: #cc0000;
	top: -3px;
	right: -7px;
	color: #fff;
	border: 2px solid white;
	border-radius: 100%;
	font-size: 10px;
	padding: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger-menu {
	height: 24px;
	margin-left: 24px;
	margin-right: 24px;
}

.youtube-logo {
	height: 20px;
}

.search-button {
	background-color: #f7f7f7;
	height: 38px;
	width: 66px;
	border: 1px solid #cccccc;
	margin-left: -1px;
	margin-right: 10px;
}

.search-buttonm,
.voice-search-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip {
	position: absolute;
	background-color: gray;
	color: #fff;
	padding: 4px 8px;
	border-radius: 2px;
	font-size: 12px;
	bottom: -30px;
	opacity: 0;
	transition: opacity 0.15s;
	pointer-events: none;
	white-space: nowrap;
}

.voice-search-button .tooltip {
	bottom: -37px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip {
	opacity: 1;
}

.search-button > img {
	height: 25px;
	/* margin-top: 4px; */
}
.voice-search-button {
	height: 40px;
	width: 40px;
	background-color: #f8f8f8;
	border-radius: 20px;
	border: none;
}
.voice-search-button > img {
	height: 25px;
	/* margin-top: 4px; */
}
.search-bar {
	height: 34px;
	flex: 1;
	padding-left: 10px;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	box-shadow: inset 1px 2px 5px #eeeeee;
	width: 0;
}
.search-bar::placeholder {
	font-size: 16px;
}

.upload,
.apps,
.notifications {
	/* width: 24px; */
	height: 24px;
}

.user-picture {
	border-radius: 20px;
	height: 32px;
	width: 32px;
}
